{# roles/trunk_config/templates/trunk.j2 #}
{% for intf in trunks %}
interface {{ intf.names }}
 description {{ intf.description | default('Trunk Link') }}
 switchport mode trunk
 switchport trunk allowed vlan {{ intf.vlans }}
 native vlan {{ intf.native_vlan | default(1) }}
 {{ trunks[inventory_hostname] }}
{% endfor %}
